<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress noisy libraries -->
    <logger name="io.opentelemetry" level="OFF" />
    <logger name="org.mapdb" level="OFF" />
    <logger name="io.grpc" level="OFF" />
    <logger name="com.google.auth" level="OFF" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>